/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Arquivos do Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docuser

# OS gerados
.DS_Store
Thumbs.db